
.tablesListItem{
    font-family: "Comfortaa", cursive;
    background-color: white;
    border: 0;
    border-radius: 3px;
    font-size: 20px;
    cursor: pointer;
    padding: 6px 5px 6px 20px;
    min-width: 370px;
    margin: 20px 40px 30px 40px ;
    text-align: left;
}

.myInput{
    outline: 0;
    background: #f2f2f2;
    width: 100%;
    border: 0;
    border-radius: 5px;
    padding: 5px;
    box-sizing: border-box;
    font-size: 24px;
    font-family: "Comfortaa", cursive;
}

.myInput:focus{
    background: #dbdbdb;
}